.job-card{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 1.5rem;
    margin-top: 4rem;
    border-radius: 0.5rem;
    box-shadow: 
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  .logo{
    margin-top: -4rem;
  }

  .company{
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  .company-name{
      color: hsl(180, 29%, 50%);
      font-size: 1.5rem;
      font-weight: bolder;
  }

  .job-role{
      display: flex;
      justify-content: flex-start;
      color: #000000;
      font-weight: bold;
      font-size: 1.5rem;
  }

    hr{
      display: flex;
      justify-content: flex-start;
      width: 100%;
      color: #000;
    }
  
  .job-skills{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  